<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Kanjiko Tab</title>
  </head>
  <body class="entry">
    <div id="title">KANJIKO</div>
    <br>
    <div id="cover">漢<br>字<br>庫</div>
    <br>
    <br>
    <a href="/auth/google" class="log"><img src="https://i.imgur.com/FHjYyi0.png"><br>LOG IN</a>
  </body>
</html>