body {
  padding: 50px;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.entry {
  text-align: center;
  padding: 50px;
}

#cover {
  font: 150px "Times";
}

.login {
  font-size: 32px;
  color: blue;
}

.login img {
  width: 5%;
}

nav, h1, h2, label {
  text-align: center; 
  font-size: 18px;
}

h1 {
  font-size: 24px;
}

li {
  list-style-type: none;
}

a {
  color: black;
  text-decoration: none;
}

.char {
  display: inline;
  font: 100px "Times";
  border: 5px solid;
  border-radius: 10%;
  background-color: #eeeeee;
  padding: 0 5px 5px 5px;
  margin: 3px;
}

.detail {
  font-size: 12px;
  color: #777777;
  font-weight: bold;
}