body {
  padding: 50px;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.entry {
  text-align: center;
  width: 25%;
  margin: auto;
}

.log img {
  width: 64px;
}

nav, h1, label {
  text-align: center;
  font-size: 18px;
}

.char {
  display: inline;
  font: 100px "Times";
  border: 5px solid;
  border-radius: 10%;
  border-color: #bbbbbb;
  background-color: #dddddd;
  padding: 0 5px 5px;
  margin: 3px;
}

.char a {
  color: black;
  text-decoration: none;
}

.detail {
  font-size: 12px;
  color: #777777;
  font-weight: bold;
}

form {
  display: inline-block;
}

.fill {
  background-color: #bbbbbb;
  border: 1px solid #777777;
  padding: 10px;
}

.required {
  font-size: 12px;
  color: #bb3333;
  font-style: oblique;
}