<%- include('../partials/header') %>
<h1><%= title %></h1>
<br>
<form action="/characters" method="POST" autocomplete="off">
  <label>Character:</label>
  <br>
  <input type="text" name="glyph" maxlength="1" placeholder="(Unihan-compatible)" required>
  <br>
  <small class="required">*required</small>
  <br>
  <br>
  <label>Structure:</label>
  <br>
  <input type="radio" name="compound" value="false" required><small>primitive</small>
  <br>
  <input type="radio" name="compound" value="true" required><small>compound</small>
  <br>
  <small class="required">*required</small>
  <br>
  <br>
  <label>Strokes:</label>
  <br>
  <input type="number" name="strokes" min="1" max="99" placeholder="#" required>
  <br>
  <small class="required">*required</small>
  <br>
  <br>
  <label>Variant(s):</label>
  <br>
  <input type="text" name="variants" placeholder="(Unihan-compatible)">
  <br>
  <br>
  <label>Definition(s):</label>
  <br>
  <textarea name="meanings" placeholder="separate sound-dependent meanings with ';' (followed by a space)" rows="5" cols="30" required></textarea>
  <br>
  <small class="required">*required</small>
  <br>
  <br>
  <button type="submit">Add Character</button>
</form>
<br>
<%- include('../partials/footer') %>